.customDomains {
  width: 100%;
  gap: 17px;

  .customDomainsHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 28px;

    .headerTitle {
      font-size: 16px;
      font-weight: 600;
      text-align: left;
    }
  }

  .customDomainsButton {
    width: 233px;
    height: 32px;
    padding: 0 16px;
    background: #d84a7e;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    gap: 11px;
    margin-top: -6px;

    &:hover {
      background-color: #e7286e;
      color: #ffffff;
    }
  }

  .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .viewDomains {
      font-size: 14px;
      font-weight: 700;
      color: #3577cb;
      cursor: pointer;
    }

    .pages,
    .pagesList {
      display: flex;
      align-items: center;
      cursor: pointer;
      // margin-right: 3px;

      .leftChevron {
        margin-right: 22px;
        margin-left: 4px;
      }

      .listItem {
        display: inline;
        color: #3577cb;
        //margin-right: 4px;
        margin-left: 0 !important;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;

        &.first {
          margin-right: 3px;
        }

        &.second {
          margin-right: 3px;
        }

        &.third {
          margin-right: 2px;
        }

        &.fourth {
          margin-right: 3px;
        }

        &.fifth {
          margin-right: 1px;
        }
      }

      .rightChevron {
        transform: rotate(180deg);
        margin-left: 20px;
        margin-right: 4px;
      }

      .rightChevrons {
        transform: rotate(180deg);
      }
    }

    .pagesList {
      gap: 13px;
    }
  }
}
