.viewDomains {
  font-size: 14px;
  font-weight: 700;
  color: #3577cb;
  cursor: pointer;
}

.domainsMainBlock {
  width: 100%;
  gap: 17px;
}

.createDomainBtn {
  width: 233px;
  height: 32px;
  padding: 0px 16px;
  background: #d84a7e;
  border-radius: 50px;
  font-family: 'Nunito';
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  gap: 11px;
  margin-top: -6px;

  &:hover {
    background-color: #e7286e;
    color: #ffffff;
  }
}

.allDomainsTitle {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.domainsBlockHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 28px;
}

li {
  display: inline;
  color: #3577cb;
  margin-right: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.domainsBottomBlockContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.domainNumbersList {
  display: flex;
  cursor: pointer;
}

.leftChevronSvg {
  margin-right: 20px;
}

.rightChevronSvg {
  transform: rotate(180deg);
  margin-left: 20px;
}

.twoChevronsSvg {
  transform: rotate(180deg);
}
