.info {
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 7px;

  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
  }

  a {
    font-weight: 700;
    color: #3577cb;
    text-decoration: none;
    &:hover {
      color: #164a89;
      cursor: pointer;
    }
  }
}
