.domainsTable {
  width: 100%;
  text-align: left;
  margin-bottom: 26.7px;
}

.primaryHeaderName {
  margin-right: 9.75px;
}

.mainTableContent {
  font-size: 14px;

  tr {
    &:nth-child(1) {
      td {
        padding: 18.3px 0 0 0;
        svg {
          top: 14px;
        }
      }
    }
    &:nth-child(2) {
      td {
        padding: 26.1px 0 0 0;
        svg {
          top: 19.1px;
        }
      }
    }
    &:nth-child(3) {
      td {
        padding: 25.1px 0 0 0;
        svg {
          top: 19.3px;
        }
      }
    }
    &:nth-child(4) {
      td {
        padding: 24.3px 0 0 0;
        svg {
          top: 19.3px;
        }
      }
    }
    &:nth-child(5) {
      td {
        padding: 25.3px 0 0 0;
        svg {
          top: 19.3px;
        }
      }
    }
    td {
      position: relative;

      &:nth-child(1) {
        width: 16.4%;
      }
      &:nth-child(2) {
        width: 27.1%;
      }
      &:nth-child(3) {
        width: 19.9%;
      }
      &:nth-child(4) {
        width: 12.8%;
        // svg {
        //   position: absolute;
        //   top: 13px;
        // }
        svg {
          position: absolute;
        }
      }
      &:nth-child(5) {
        width: 17%;
      }
      &:nth-child(6) {
        width: 16%;
      }
    }
  }
}

.tableHeaderStyles {
  font-size: 12px;
  color: #808080;
  & tr th {
    &:last-child {
      text-align: right;
    }
  }
}

.actionsColumn {
  color: #3577cb;
  font-weight: 700;
  cursor: pointer;
  text-align: right;
}

.chevronIcon {
  margin-left: 10px;
  margin-bottom: 1.4px;
  fill: #3577cb;
}
