.tableStyles {
  width: 1040px;
  // height: 207px;
  text-align: left;
}

.primaryHeaderName {
  margin-right: 9.75px;
}

.mainTableContent {
  font-size: 14px;
}

.tableHeaderStyles {
  font-size: 12px;
  margin-bottom: 16px;
  color: #808080;
}

.actionsColumn {
  color: #3577cb;
  font-weight: 700;
}

.chevronIcon {
  margin-left: 10px;
}
