.dashboardIcon {
  margin-left: 3px;

  & + a {
    margin-left: 1.9px;
  }
}

.sideBar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 256px;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  overflow-x: hidden;

  .logo {
    width: 141.44px;
    height: 24px;
    margin-bottom: 2px;
  }

  .launch {
    display: flex;
    width: 208px;
    height: 56px;
    min-height: 56px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 24px 0 30px;
    border-radius: 50px;
    background: #d84a7e;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    gap: 12px;
    letter-spacing: 0.1em;
    line-height: 16px;
    text-transform: uppercase;

    svg {
      fill: white;
    }

    &:hover {
      background-color: #e7286e;
    }
  }

  .drawerContainer,
  .MuiDrawer-root {
    width: 100%;
  }

  .drawerContainerBottom {
    margin-top: auto;
  }

  .MuiPaper-root {
    position: relative;
    padding: 0;
    border: none;
    background: transparent;
    font-family: Nunito, sans-serif;
    font-style: normal;

    .MuiList-root {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 20px;

      div {
        width: 100%;
      }

      .MuiButtonBase-root {
        display: flex;
        align-items: center;
        padding: 0;
        color: #000;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        gap: 13px;
        line-height: 19px;
        text-decoration: none;

        svg {
          margin-left: 3px;
        }

        .MuiTypography-root {
          color: #000;
          font-family: Nunito, sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          text-decoration: none;
          transition: 0.3s;
        }

        &.primary,
        &.bold {
          .MuiTypography-root {
            font-weight: 700;
          }
        }

        &:hover {
          background-color: unset;

          .MuiTypography-root {
            color: #3577cb;
          }

          svg {
            fill: #3577cb;
          }
        }

        a {
          text-decoration: none;
        }

        .MuiListItemText-root {
          flex: 1 unset unset !important;
          padding: 0;
          margin: 0;
        }
      }
    }

    .MuiCollapse-wrapperInner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0 8px 32px;
      margin-top: 21px;
      gap: 13px;
    }

    .chevron {
      width: 9px;
      height: 4.75px;
      margin-top: 5px;
      margin-right: 3px;
      fill: #000;

      &.down {
        margin-top: 1px;
        transform: rotateX(180deg);
      }
    }
  }

  @media (max-width: 480px) {
    padding: 15px;
    gap: 16px;

    .MuiPaper-root {
      .MuiList-root {
        gap: 15px;
      }
    }
  }
}

.megaphoneIcon {
  width: 21px;
}

.databaseArrowUpIcon {
  margin-left: 2px;
}

.advertisingIcon {
  margin-top: 3px;
  margin-left: 4px;
}

.myLocationIcon {
  width: 23px;
  margin-top: 1px;
  margin-left: 1.6px;
}

.globePersonIcon {
  width: 23px;
  margin-top: 3px;
  margin-left: 2.2px;
}
