.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 12px 12px 24px;
  border: 1px solid #c2d9e7;
  border-radius: 45px;
  margin-bottom: 24px;
  background: #fff;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
  gap: 16px;

  @media (max-width: 480px) {
    padding: 6px 6px 6px 12px;
    gap: 5px;
  }
}

button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  border: 0;
  border-radius: 4px;
  margin-right: 11px;
  background: transparent;
  color: #3577cb;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  gap: 8px;
  line-height: 19px;
  text-align: left;

  svg {
    fill: #3577cb;
  }

  &:hover {
    color: #164a89;

    svg {
      fill: #164a89;
    }
  }

  @media (max-width: 480px) {
    margin-right: 0;
  }
}

button.expanded svg {
  transform: rotateX(180deg);
}

ul {
  width: max-content;
}

ul.options {
  position: absolute;
  top: 100%;
  display: none;
  padding: 4px 0;
  margin-top: -4px;
  background: white;
  list-style: none;
}

ul.show {
  display: block;
}

ul.options li {
  padding: 6px 10px;
}

ul.options li:active,
ul.options li:focus,
ul.options li:hover,
ul.options li[aria-selected='true'] {
  border-radius: 28px;
  background: #f2f7fa;
  cursor: pointer;
}

.divider {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 19px;
  transform: rotate(90deg);
}

.input {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0;
  gap: 10px;

  @media (max-width: 768px) {
    text-align: center;
  }

  @media (max-width: 480px) {
    gap: 0;
  }
}

input {
  all: unset;
  flex-grow: 1;
  border: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

button.search {
  width: 104px;
  height: 32px;
  padding: 0 24px;
  border-radius: 30px;
  margin: 0;
  background: #d84a7e;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-transform: uppercase;

  &:hover {
    background-color: #e7286e;
  }

  @media (max-width: 480px) {
    width: auto;
    padding: 0 10px;
    letter-spacing: normal;
  }
}
