.mainBlock {
  padding-right: 32px;
  padding-left: 33px;
  margin-left: 256px;

  @media (max-width: 1024px) {
    padding-left: 0;
  }

  @media (max-width: 767px) {
    padding-left: 32px;
    margin-left: 0;
  }

  @media (max-width: 480px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.domainsSubtitle {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.cards {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 16px;
  gap: 16px;

  .info {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    align-items: center;
  }

  @media (max-width: 480px) {
    .info {
      align-items: center;
      text-align: center;
    }
  }
}

.customDomainsContainer {
  margin-bottom: 32px;
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .appSideBar {
    display: none;
  }

  .burger {
    display: block;
  }
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-bottom: 10px;
  color: #d1d1d1;

  /* Our sidebar item styling */
  text-decoration: none;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 26px;
  height: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  width: 24px;
  height: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #3577cb;
}

/* General sidebar styles */
.bm-menu {
  padding: 2.5em 1.5em 0;
  background: #f2f7fa;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgb(0 0 0 / 30%);
}
